<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.PERSONAL_TRACKINGConnectionString"
            connectionString="Data Source=DESKTOP-IO1JK36\MSSQLSERVER02;Initial Catalog=&quot;PERSONAL TRACKING&quot;;Persist Security Info=True;User ID=root;Password=1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>